{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/login.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/particles.css') }}">
{% endblock %}
{% block body %}
	<div id="particles-js">
		
	</div>

	<script src="{{ asset('assets/js/particles.js') }}"></script>
	<script src="{{ asset('assets/js/particulas.js') }}"></script>
{% endblock %}
